<br>
<div class="row">
  
  <div class="col">
   <div class="card w-80">
	
		<div class="card text-center text-black  mb-0" id="total-orders" style="background-color: #7CD1C0;">
			  <div class="card-header">
				  <h5 class="card-title">Total In Stock</h5>
			  </div>
			  <div class="card-body">
				<h4 class="card-title"></h4>
			  </div>
		</div>
	
	</div>
</div>
	

   <div class="col">
  <div class="card w-80">
	
		<div class="card text-center text-black mb-0" id="orders-delivered" style="background-color: rgb(16, 216, 230);">
			  <div class="card-header">
				  <h5 class="card-title">Total Sold Out</h5>
			  </div>
			  <div class="card-body">
				<h5 class="card-title"></h5>
			  </div>
		</div>
	
  </div>
</div>


</div>  
